<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
         {{!-- hiển thị header bên partials --}}
        {{>header}}
        <p>{{helpText}}</p>
    </div>
       {{!-- hiển thị footer bên partials --}}
    {{>footer}}
</body>

</html>